*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.container{
    width: 95%;
    margin: 0 auto 0 auto;
}
.header-top{
    color: white;
    display: inline-flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 16px 0px;
    width: 100%;
}
.socialMedia{
    text-align: center;
}
.socialMedia svg{
    margin-right: 15px;
}
.socialMedia svg:last-child{
    margin-right: 0px;
}
.contact-top{
    display: inline-flex;
    text-align: center;
}
@media (width: 999px) {
    .header-top{
        flex-wrap: wrap;
    }
    .socialMedia{
        width: 100%;
    }
    .contact-top{
        width: 100%;
        flex-direction: column;
    }
    
}