@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    overflow-x: hidden;
}

.container{
    width: 95%;
    margin: 0 auto 0 auto;
}
.header{
    position: relative;
    z-index: 10;
    margin-bottom: -76px;
}
.header-top{
    color: white;
    display: inline-flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 16px 0px;
    width: 100%;
}
.socialMedia{
    text-align: center;
}
.socialMedia svg{
    margin-right: 15px;
}
.socialMedia svg:last-child{
    margin-right: 0px;
}
.contact-top{
    display: inline-flex;
    text-align: center;
}
.contact-top div{
    margin-right: 15px;
    display: flex;
}
.contact-top div:last-child{
    margin-right: 0px;
}

.header-logo{
    margin-top: -35px;
}
.header-logo{
    margin-top: 0px;
    width: 100%;
}
.header-logo img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.header-bottom{
    display: inline-flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.menu{
    background-color: blue;
    display: inline-flex;
    width: 85%;
    height: 70px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: initial;
}
.menu::before{
    content: "";
    position: relative;
    background-color: transparent;
    border-top: 70px solid blue;
    border-left: 43px solid transparent;
    left: -42px;
}
.menu::after{
    content: "";
    position: relative;
    background-color: transparent;
    border-top: 70px solid blue;
    border-right: 43px solid transparent;
    left: 42px;
}
.menu ul{
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.menu ul li a:hover{
    color: #4444bd;
}
.bar-button{
    display: none;
    width: 26px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.bar{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}
.bi-x-lg{
    display: none;
}
.footer-top{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(8px + 0.7vw);
}
.footer-top h3{
    padding-bottom: 5px;
    border-bottom: 5px solid blue;
    margin-bottom: 35px;
    width: 90px;    
}
.footer-top ul{
    list-style: none;
}
.footer-top a{
    text-decoration: none;
    color: white;
}
.footer-section{
    width: 25%;
    margin: 0 10px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo p{
    margin: 30px 0;
    text-align: center;
}
.redes-sociais svg{
    margin-right: 10px;
}
.redes-sociais svg:last-child{
    margin-right: 0;
}
.footer-institucional div{
    max-width: 165px;
    margin: 0 auto;
}
.footer-servicos div{
    max-width: 165px;
    margin: 0 auto;
}
.footer-section div ul li{
    margin-bottom: 10px;
}
.div-contato{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.div-contato:last-child{
    margin-bottom: 0px;
}
.footer-texto{
    color: white;
}
.banner-itens{
    display: inline-flex;
}
.banner-item li a img{
    width: 100%;
    height: auto;
}
@media (max-width: 900px) {
    .footer-top{
        flex-wrap: wrap;
    }
    .footer-section{
        width: 25%;
    }
    .footer-logo{
        width: 100%;
    }
}
@media (max-width: 750px) {
    .header{
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-top{
        flex-wrap: wrap;
    }
    .socialMedia{
        width: 100%;
    }
    .contact-top{
        width: 100%; 
        display: flex;
        flex-direction: column;
    }
    .contact-top div{
        display: flex;
        margin-right: 0px;
        justify-content: center;
    }
    .menu{
        display: block;
        transition: 0.3s;
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        position: absolute;
        height: calc(100vh - 90px);
    }
    .menu ul{
        flex-direction: column;
    }
    .menu.active{
        left: 0;
    }
    .bar{
        cursor: auto;
    }
    .bar-button.active{
        display: block;
    }
    .bi-x-lg.active{
        display: block;
        animation: rotate  0.5s  normal;
    }
    .menu::before{
        content: none;
    }
    .menu::after{
        content: none;
    }
}
@media (max-width: 600px) {
    .footer-top{
        flex-wrap: wrap;
    }
    .footer-section{
        width: 40%;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-contatos{
        width: 100%;
    }
    .footer-institucional div{
        max-width: 165px;
        margin: 0 0;
    }
    .footer-servicos div{
        max-width: 165px;
        margin: 0 0;
    }
    .footer-contatos{
        margin-left: 5%;
    }
}
@keyframes rotate {
    to{
        transform: rotate(90deg);
    }
}